{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>TinycryptoPOS</title>
    <link rel="stylesheet" href="{% static "TinycryptoPOS/Style.css" %}" />
    <link rel="stylesheet" href="{% static "TinycryptoPOS/Colors.css" %}" />
    {% block header %}{% endblock %}
  </head>
  <body>
    <h1>TinycryptoPOS</h1>
    {% block content %}{% endblock %}
  </body>
</html>
