{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}<script type="text/javascript" src="{% static "TinycryptoPOS/Config.js" %}"></script>
{% endblock %}
{% block content %}
<h2>Configuration</h2>

<h3>Crypto currencies</h3>
{% if crypto_currencies %}
<strong class="Block">The following crypto currencies are available:</strong>
{% for currency in crypto_currencies %}
<span class="Box BigText">{{currency.name}} ({{currency.short_name}})
    <a class="Action RedAction" href="{% url 'TinycryptoPOS-config' action='delete' object_type='crypto_currency' object_id=currency.id %}">X</a>
</span>
{% endfor %}
<a class="Box Button GreenAction" href="{% url 'TinycryptoPOS-config' action='add' object_type='crypto_currency' %}">Add crypto currency</a>
{% else %}
<strong class="Block">No crypto currencies are configured! You can add a crypto currency by <a href="{% url 'TinycryptoPOS-config' action='add' object_type='crypto_currency' %}">clicking here</a>!</strong>
{% endif %}


<h3>Crypto currency daemons</h3>
{% if crypto_currency_daemons %}
<strong class="Block">The following crypto currency daemons are registered:</strong>
{% for daemon in crypto_currency_daemons %}
<span class="Box BigText">{{daemon}}
    <a class="Action RedAction" href="{% url 'TinycryptoPOS-config' action='delete' object_type='currency_daemon' object_id=daemon.id %}">X</a>
</span>
{% endfor %}
<a class="Box Button GreenAction" href="{% url 'TinycryptoPOS-config' action='add' object_type='currency_daemon' %}">Register currency daemon</a>
{% else %}
<strong class="Block">No crytpo currency daemons are configured! You can add a crypto currency daemon by <a href="{% url 'TinycryptoPOS-config' action='add' object_type='currency_daemon' %}">clicking here</a>!</strong>
{% endif %}


<h3>Online shop configurations</h3>
{% if online_shop_configs %}
<strong class="Block">The following online shops are available:</strong>
{% for shop in online_shop_configs %}
<span class="Box BigText">{{shop.name}}
    <a class="Action RedAction" href="{% url 'TinycryptoPOS-config' action='delete' object_type='online_shop_config' object_id=shop.id %}">X</a>
</span>
{% endfor %}
<a class="Box Button GreenAction" href="{% url 'TinycryptoPOS-config' action='add' object_type='online_shop_config' %}">Add online shop configuration</a>

{% else %}
<strong class="Block">No online shops are configured! You can add an online shop configuration by <a href="{% url 'TinycryptoPOS-config' action='add' object_type='online_shop_config' %}">clicking here</a>!</strong>
{% endif %}

<a class="Button Block" href="{% url 'TinycryptoPOS-dashboard' %}">Return to dashboard</a>
{% endblock %}
