{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}<script type="text/javascript" src="{% static "TinycryptoPOS/Config.js" %}"></script>
{% endblock %}
{% block content %}
  {% if message_list %}
  <ul>
  {% for message in message_list %}
    <li>{{message}}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if form %}
    {% include "TinycryptoPOS/ConfigForm.html" with form=form %}
  {% endif %}
  <a class="Button Block" href="{% url 'TinycryptoPOS-config_dashboard' %}">Return to configuration dashboard</a>
{% endblock %}
