<div class="FormWrapper">
  <form method="post" action="">
    <h3>{{form.title}}
    <div class="FormContent">
    {% csrf_token %}
    <table>
    {% for field in form.form %}
        {% if field.errors %}
        <tr><td colspan="3" class="FormErrorField">{{field.errors}}</td></tr>
        {% endif %}
        <tr>
            {% if field.label %}
            <td class="FormFieldLabel">{{field.label}}</td>
            {% endif %}
            <td class="FormField">{{field}}</td>
            {% if field.help_text %}
            <td class="FormFieldDescription">{{field.help_text|safe}}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="FormAction">
      <input type="reset" value="reset form" />
      <input type="submit" value="{{form.submit_title}}" />
    </div>
  </form>
</div>
