{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}<script type="text/javascript" src="{% static 'TinycryptoPOS/Dashboard.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="PopupBackground" id="PopupContent">
    <div class="Popup">
      <img id="PopupQR" src="" />
      <table>
        <tr>
          <th>Address:</th><td id="PopupAddress"></td>
        </tr>
        <tr>
          <th>Amount:</th><td id="PopupAmount"></td>
        </tr>
      </table>
      <div class="Button" onclick="javascript:void(ClosePopup());">Close</div>
    </div>
  </div>
  <h2>Welcome, {{user}}!</h2>
  {% if msgList %}
  <ul>
  {% for msg in msgList %}
    <li>{{msg}}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <h3>(verified) Balance</h3>
  {% if verified_balances %}
    {% for v in verified_balances %}
  <span class="Box">{{v.balance}} {{v.currency_short_name}}</span>
    {% endfor %}
  {% else %}
  <p>No crypto currency daemons are registerd. You may change this by <a href="{% url 'TinycryptoPOS-config' action='add' object_type='currency_daemon' %}">clicking here</a>.</p>
  {% endif %}
  {% if incomplete_payments %}
  <h3>Incomplete payments</h3>
  <p>(click to view the QR code)</p>
  <ul class="SmallText">
    <!-- TODO: beautify payment text (remove P and V with better text) -->
    {% for i in incomplete_payments %}
    <li onclick="javascript:void(ShowPayment(this));" data-address="{{i.address}}" data-amount="{{i.amount}}" data-payment="{{i.id}}">{{i}}</li>
    {% endfor %}
  </ul>
  {% else %}
  <h3>No incomplete payments</h3>
  {% endif %}
  <h2>Actions</h2>
  <a class="Button Block" href="{% url 'TinycryptoPOS-payment_currency_select' %}">New payment</a>
  <a class="Button Block" href="{% url 'TinycryptoPOS-config_dashboard' %}">Configuration</a>
  <a class="Button Block" href="{% url 'TinycryptoPOS-logout' %}">Logout</a>
{% endblock %}
