{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}{% endblock %}
{% block content %}
<h2>Login<h2>
{% if form.errors %}
<p>Login failed!</p>
{% endif %}
<form id="LoginForm" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
  {{form.as_p}}
  <input type="hidden" name="next" value="{% url 'TinycryptoPOS-dashboard' %}" />
  <p>WARNING: password is transmitted unencrypted at the moment unless you use HTTPS!!</p>
  <input type="submit" value="Login" />
</form>
{% endblock %}
