{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}<script type="text/javascript" src="{% static 'TinycryptoPOS/OnlineShopPaymentView.js' %}"></script>
{% endblock %}
{% block content %}
<input type="hidden" id="ExchangeRate" value="{{exchange_rate}}"></input>
<div>
  <div id="ProductInfo">
    <div id="EanWrapper">
      <label for="ProductEan">EAN:</label><input type="number" name="ProductEan" id="ProductEan" class="RoundCorners" onchange="javascript:void(AddScannedProduct(this));" autofocus="autofocus"></input>
    </div>
    <img src="" id="ProductImage"></img>
    <div id="ProductName"></div>
    <div>
      <span id="ProductPriceCC"></span>&nbsp;<span id="ProductCurrencyCC"></span>
    </div>
    <div id="ProductPriceNonCCWrapper">
      <span id="ProductPriceNonCC"></span>&nbsp;<span id="ProductCurrencyNonCC"></span>
    </div>
  </div>
  <div id="Bill">
    <table id="ItemList">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="BillTotalCC">
      <span>Total: </span><span id="Total">0.00000000</span>&nbsp;<span id="Currency">{{crypto_currency.short_name}}</span>
    </div>
    <div id="BillTotalNonCC">
      <span>Total: </span><span id="TotalNonCC">0.00</span>&nbsp;<span id="CurrencyNonCC">{{non_crypto_currency.short_name}}</span>
    </div>
  </div>
</div>
<div id="BottomField">
  <div id="ErrorMessageField">&nbsp;</div>
  <form name="NewPaymentForm" action="{% url 'TinycryptoPOS-create_new_payment' %}" method="post" style="text-align:center;">
    {% csrf_token %}
    <input type="hidden" id="FormTotalField" name="amount" value="0" />
    <input type="hidden" name="currency" value="{{crypto_currency.name}}" />
    <input type="hidden" name="online_shop_id" value="{{online_shop_config.id}}" />
    <input type="hidden" id="FormProductIdField" name="products[]" value="" />
    {% if online_shop_has_order_support %}
    <input type="submit" class="Button" name="PayWithOnlineShop" value="Pay via online shop"></input>
    {% endif %}
    <input type="button" class="Button" value="Pay" onclick="ValidatePayment();"></input>
  </form>
</div>
{% endblock %}