{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}{% endblock %}
{% block content %}
{% if crypto_currencies %}
<h2>Please select one of the following cryptocurrencies for the new payment:</h2>
{% for c in crypto_currencies %}
<a class="Button" style="display:block;" href="{% url 'TinycryptoPOS-payment_method_select' c.id %}">{{c.name}}</a>
{% endfor %}
{% else %}
<h2>No cryptocurrencies defined!</h2>
<p>You need to define at least one cryptocurrency in TinycryptoPOS to accept payments!</p>
{% endif %}
{% endblock %}