{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}{% endblock %}
{% block content %}
<h2>Please select the payment method:</h2>
<a class="Button" style="display:block;" href="{% url 'TinycryptoPOS-simple_payment_view' crypto_currency_id %}">Simple</a>
<a class="Button" style="display:block;" href="{% url 'TinycryptoPOS-online_shop_select_view' crypto_currency_id %}">Online shop system</a>
{% endblock %}