{% extends "TinycryptoPOS/Base.html" %}
{% load TinycryptoPOSFilters %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}<script type="text/javascript" src="{% static 'TinycryptoPOS/PayView.js' %}"></script>
{% endblock %}
{% block content %}
<div id="PaymentRequestDialog">
  <input type="hidden" id="PaymentID" value="{{payment.id}}" ></input>
  <p>Please pay the amount shown in the box below.</p>
  <div>
    <img id="PaymentQR" src="{% url 'TinycryptoPOS-show_qr_code' payment.id %}"></img>
    <table id="PaymentText">
      <tr>
        <th>Address:</th>
        <td>{{payment.address}}</td>
      </tr>
      <tr>
        <th>Amount:</th>
        <td>
          <span id="PayAmountField">{{payment.amount|ConvertCryptoCurrencyAmount}}</span>&nbsp;{{payment.currency.short_name}}
        </td>
      </tr>
      <!--
      <tr>
        <th>Label:</th>
        <td id="PaymentLabelField"></td>
      </tr>
      -->
      </tr>
    </table>
  </div>
</div>
<div id="PaidDialog" style="display:none;">
  <p>Payment successful!</p>
  <img src="{% static 'TinycryptoPOS/paid.png' %}"></img>
  <a href="{% url 'TinycryptoPOS-dashboard' %}" class="Button Block">Return to Dashboard</div>
</div>
{% endblock %}
