{% extends "TinycryptoPOS/Base.html" %}
{% comment %}
   This file is part of TinycryptoPOS
   Copyright (C) 2015 Moritz Strohm <ncc1988@posteo.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load staticfiles %}
{% block header %}<script type="text/javascript" src="{% static 'TinycryptoPOS/SimplePaymentView.js' %}"></script>
{% endblock %}
{% block content %}
<div id="MainDialog">
  <p>Please enter an amount to create a new payment.</p>
  <form action="{% url 'TinycryptoPOS-create_new_payment' %}" method="post" name="NewPaymentForm">
    {% csrf_token %}
    <div>
      <input id="PaymentAmountField" class="Amount" type="text" min="0" max="20000000" step="0.01" onchange="javascript:void(CalculateExchanged(this));" data-exchangeRate="{{exchange_rate.rate}}" />
      <span id="PaymentCurrencyDisplay">{{non_crypto_currency.name}}</span>
      <span style="font-width=70%;">(<span id="ExchangedCurrencyValue">0.00000000</span> <span id="ExchangedCurrency">{{crypto_currency.shortName}}</span>)</span>
      <input id="CryptoCurrencyAmount" type="hidden" name="amount" value="0" />
      <input id="PaymentCurrency" type="hidden" name="currency" value="{{crypto_currency.name}}" />
      
    </div>
    <table class="Numpad">
      <tr>
        <td onclick="javascript:void(AddNumber(7));">7</td>
        <td onclick="javascript:void(AddNumber(8));">8</td>
        <td onclick="javascript:void(AddNumber(9));">9</td>
      </tr>
      <tr>
        <td onclick="javascript:void(AddNumber(4));">4</td>
        <td onclick="javascript:void(AddNumber(5));">5</td>
        <td onclick="javascript:void(AddNumber(6));">6</td>
      </tr>
      <tr>
        <td onclick="javascript:void(AddNumber(1));">1</td>
        <td onclick="javascript:void(AddNumber(2));">2</td>
        <td onclick="javascript:void(AddNumber(3));">3</td>
      </tr>
      <tr>
        <td onclick="javascript:void(AddNumber(0));">0</td>
        <td onclick="javascript:void(AddSeparator());">.</td>
        <td onclick="javascript:void(DeleteNumber());">&lt;-</td>
      </tr>
    </table>
    <div id="MainActions">
      <input type="reset" class="Button" value="Reset"></input>
      <input type="submit" class="Button" value="Make Payment"></input>
    </div>
  </form>
</div>
{% endblock %}
