
body
{
  background-color: #C8D6FF;
}


table.Numpad td, .Button
{
  background-color: #6593FF;
}

input, .Button
{
  border-color: #88F;
}

#PopupContent
{
  background-color:rgba(0,0,0,0.3);
}

.Popup
{
  background-color:#FFF;
}

.Button
{
  color:#000;
}

li, .Box
{
  background-color:#ACF;
}

#ErrorMessageField
{
  color:#ff0000;
}

.GreenAction
{
    color: #fff;
    background-color:#6c6;
}

.RedAction
{
    color: #fff;
    background-color:#f66;
}