@media screen
{
  /* common rules */
  
  h1, h2, h3
  {
    margin-bottom:0.25em;
    margin-top:0.25em;
  }
  
  #PopupContent
  {
    display:none;
    z-index:1;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
  
  .Popup
  {
    z-index:2;
    position:fixed;
    left:10%;
    right:10%;
    top:10%;
    padding-bottom:1em;
  }
  
  body
  {
    text-align:center;
  }
  
  body, .Button, .BigText
  {
    font-size:140%;
  }
  
  input
  {
    font-size: 125%;
    border-radius:0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
    border: 1px solid;
  }
  
  .Button
  {
     border: 1px solid;
  }
  
  #PaymentAmountField
  {
    width:40%;
    height:10%;
    font-size:150%;
    font-weight:bold;
    border:none;
    border-radius:0.5em;
    padding-right:0.5em;
    text-align:right;
  }
  
  .RoundCorners
  {
    border:none;
    border-radius:0.5em;
  }
  
  #PaymentCurrencySelect
  {
    margin-left:0.25em;
    font-size:150%;
    border:none;
    font-weight:bold;
  }
  
  table.Numpad
  {
    display:inline;
    font-size:250%;
  }
  
  table.Numpad td
  {
    width:20%;
    height:20%;
    border-radius:0.25em;
    margin:1em;
    text-align:center;
  }
  
  .SmallText
  {
    font-size:80%;
  }
  
  img
  {
    width: 100%;
    max-width:17em;
  }
  
  ul
  {
    list-style-type:none;
    padding-left:0em;
  }
  
  li
  {
    border-radius:0.5em;
    margin-bottom:0.25em;
  }
  
  .Box
  {
    border-radius:0.5em;
    margin-right:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    margin-top:0.25em;
    display:inline-block;
  }
  
  .Button
  {
    border-radius:0.25em;
    margin:0.25em;
    text-decoration:none;
  }
  
  .Action
  {
      display:inline-block;
      width:1em;
      font-weight:bold;
      margin-left:0.5em;
      margin-right:0.5em;
      border-radius:0.25em;
      text-decoration:none;
  }
  
  .ButtonWrapper
  {
      margin-top:1em;
      margin-bottom:1em;
  }
  
  .ButtonWrapper > .Button
  {
      display:inline-block;
  }
  
  .Block
  {
    display:block;
  }
  
  /* CMS Payment View rules */
  
  #ItemList
  {
    display:block;
    overflow-y:scroll;
  }
  
  #ItemList td
  {
      margin-bottom:0.75em;
  }
  
  #ItemList th
  {
    width:60%;
  }
  /*#ItemList th + th
  {
    width:12em;
  }*/
  
  #BillTotalCC
  {
    font-size:140%;
    font-weight:bold;
    text-align:center;
    margin-top:0.5em;
  }
  
  #BillTotalNonCC
  {
    font-size:80%;
  }
  
  #EanWrapper
  {
    font-size:80%;
    margin-bottom:0.5em;
  }
  
  #ProductEan
  {
    padding-left:0.5em;
    padding-right:0.5em;
  }
  
  #ProductPriceCC
  {
    font-weight:bold;
  }
  
  #ProductPriceNonCCWrapper
  {
    font-size:70%;
  }
  
  #BottomField .Button
  {
    width:calc(100% - 1em);
    margin-bottom:0em;
    margin-top:0em;
  }
  
  #ErrorMessageField
  {
      height:1em;
  }
}


@media screen and (min-width:800px)
{
  /* desktop view */
  
  /* CMS Payment View rules */
  
  #ProductInfo
  {
    float:left;
    width:45%;
  }
  
  #ProductImage
  {
    width:50%;
  }
  
  #Bill
  {
    float:left;
    width:50%;
  }
  
  #ItemList
  {
    height:50%;
  }
  
  #BottomField
  {
    float:left;
    width:100%;
  }
  
}


@media screen and (max-width:799px)
{
  /* mobile view */
  body
  {
    font-size:100%;
  }
  
  h1,h2,h3,p,ul
  {
    margin-top:0em;
    margin-bottom:0.25em;
  }
  
  /* CMS Payment View rules */
  
  #ProductInfo
  {
    height:30%;
  }
  
  #Bill
  {
    height:40%;
  }
  
  #ItemList
  {
    height:70%;
  }
  
  #ProductImage
  {
    width:25%;
    float:left;
  }
  
  #BottomField
  {
    height:30%;
  }
  
  .Button
  {
      display:block;
  }
}